@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: #024751;
}

.mainSection {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./assets/main-image.png');
}

